button {
  cursor: pointer;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flexAlign {
  display: flex;
  align-items: center;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
}
.inlineBlock {
  display: inline-block;
}
.right {
  float: right;
}
.chartTit {
  font-size: 18px;
  color: rgb(61, 60, 60);
  font-weight: bold;
  padding: 10px 8px;
  display: inline-block;
}

input[type="checkbox"] {
  z-index: 9;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: 1px solid #999;
  appearance: none;
  cursor: pointer;
  margin: 0 8px;
  /* transition: background 0.2s; */
}

input[type="checkbox"]:checked {
  background: #252525;
  border: none;
}

.fontBold {
  font-weight: bold;
}

/* Scroll bar stylings */
.scroll1::-webkit-scrollbar {
  width: 5px;
}
.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}
.scroll1::-webkit-scrollbar-thumb {
  background: #666; 
}
